<header>
  <div style="overflow:hidden; float:left;">
    <img src="static/img/blank.png" style="width:1.0em;"/>
    <img src="static/img/callycall.png" style="width:10.0em;"/>
	<img src="static/img/blank.png" style="width:1.0em;"/>
  </div>
  <div id="menuBtn2" style="overflow:hidden; float:right;">
	<a href="/logout">
	<img src="static/img/icons/s2.png" style="height:2.9em;"/></a>
  </div> 
  <div id="menuBtn2" style="overflow:hidden; float:right;">
    <img src="static/img/blank.png" style="width:1.0em;"/>
  </div> 
  <div id="menuBtn" style="overflow:hidden; float:right;">
    <img src="static/img/blank.png" style="width:3.0em;"/>
    <img src="static/img/icons/menu2.png" style="height:2.9em;"/>
    <img src="static/img/blank.png" style="width:1.0em;"/>
  </div>

</header>
